.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .main {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.sec01btn {
    font-family: monospace;
    font-size: 1.5rem;
    color: #018C8D;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
}

.sec01btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}