.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.footer p {
    color: #9076FF;
    /* margin: 5px 0; */
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
    }
}